# Ignore Binary Files #
#######################
*
!*.*
!*/

# Complied source files #
#########################

*.exe
*.o


# Submitted Zip Files #
#######################

*.zip


# Copied Folders #
#################

*(copy)/
